//variables
//fonts
$font: 'Merriweather', Arial, sans-serif;

//colors
$text: #545657;
$bg: #ffffff;
$headers: #323232;
$hover: #e6ce71;
$link: #2f80ed;
$y: #e2c75b;

//another
$font-size: 16px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/books";
@import "sections/news";
@import "sections/mmenu";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}