@font-face {
  font-family: "Gilroy";
  src: local("../../fonts/Gilroy-Bold"), url("../../fonts/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: local("../../fonts/Merriweather Bold"), local("../../fonts/Merriweather-Bold"), url("../../fonts/Merriweather-Bold.woff2") format("woff2"), url("../../fonts/Merriweather-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("../../fonts/Gilroy-Regular"), url("../../fonts/Gilroy-Regular.woff2") format("woff2"), url("../../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("../../fonts/Gilroy-BoldItalic"), url("../../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: local("../../fonts/Merriweather Bold Italic"), local("../../fonts/Merriweather-BoldItalic"), url("../../fonts/Merriweather-BoldItalic.woff2") format("woff2"), url("../../fonts/Merriweather-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("../../fonts/Gilroy-SemiBoldItalic"), url("../../fonts/Gilroy-SemiBoldItalic.woff2") format("woff2"), url("../../fonts/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("../../fonts/Gilroy-SemiBold"), url("../../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: local("../../fonts/Gilroy-RegularItalic"), url("../../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: local("../../fonts/Merriweather Italic"), local("../../fonts/Merriweather-Italic"), url("../../fonts/Merriweather-Italic.woff2") format("woff2"), url("../../fonts/Merriweather-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: local("../../fonts/Merriweather Regular"), local("../../fonts/Merriweather-Regular"), url("../../fonts/Merriweather-Regular.woff2") format("woff2"), url("../../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.42;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "Merriweather", Arial, sans-serif;
  color: #4D4D4D;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  overflow: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 1199.98px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 767.98px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media screen and (max-width: 575.98px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.content ul {
  margin: 1em 0;
  padding-left: 40px;
}
.content ul li {
  list-style: disc;
}
.content h1 {
  margin: 0.67em 0;
}
.content h2 {
  margin: 0.83em 0;
}
.content h3 {
  margin: 1em 0;
}
.content h4 {
  margin: 1.33em 0;
}
.content h5 {
  margin: 1.67em 0;
}
.content h5 {
  margin: 2.33em 0;
}
.content p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}
/*# sourceMappingURL=main.css.map */