.ibio{
  background-color: #f5f5f5;
  padding-top: 44px;
  @include lg-block{
    padding-top: 50px;
  }
  @include sm-block{
    padding-top: 30px;
  }

  &__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: center;
    @include sm-block{
        grid-template-columns: 1fr;
    }
  }

  &__title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;
    @include lg-block{
      font-size: 24px;
      margin-bottom: 40px;
    }
  }

  &__txt{
    position: relative;
    @include ffg;
    font-size: 24px;
    line-height: 170%;
    margin-bottom: 90px;
    @include lg-block{
      font-size: 16px;
      margin-bottom: 40px;
    }


    &:before{
      content: attr(data-letter);
      display: block;
      font-family: Merriweather;
      opacity: 0.35;
      color: #e6ce6e;
      font-size: 250px;
      position: absolute;
      left: 0;
      top: -65px;
      line-height: 1;
      @include lg-block{
        font-size: 180px;
        top: -40px;
        left: 20px;
      }
    }
  }

  &__link{
    @include sm-block{
      font-size: 16px;
    }

    svg{
      @include sm-block{
        width: 42px;
        height: 16px;
      }
    }
  }

  &__right{
    align-self: flex-end;
    margin-left: -20px;
    @include lg-block{
      margin-left: 0;
    }
    img{
      display: block;
    }
  }
}