extends ../main

block variables
    - var title = 'Главная'

block content
    .books
        +bread
        .container
            .books__grid
                aside.books__aside.aside
                    h3.aside__title Публикации
                    .aside__menu
                        .menu
                            .menu__item
                                a(href='/').menu__link.active
                                    span.menu__link-txt
                                        | 51 410 кругосветны миль
                                        br
                                        | на "Лермонтове"
                                    span.menu__link-arr.jsMenuTrigger
                                        <svg width="15" height="9" viewBox="0 0 15 9" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.49994 7.23025L1.00653 0.736832L0.193359 1.55L7.49994 8.85659L14.8065 1.55001L13.9934 0.736834L7.49994 7.23025Z"/>
                                        </svg>
                                .submenu.active
                                    a(href='/').submenu__link.active По морям, по океанам на "Отрадном", "Шаляпине", "Лермонтове"
                                    each i in submenu
                                        a(href='/').submenu__link!=i
                            each item in menu
                                .menu__item
                                    a(href='/').menu__link
                                        span.menu__link-txt!=item
                                        span.menu__link-arr.jsMenuTrigger
                                            <svg width="15" height="9" viewBox="0 0 15 9" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.49994 7.23025L1.00653 0.736832L0.193359 1.55L7.49994 8.85659L14.8065 1.55001L13.9934 0.736834L7.49994 7.23025Z"/>
                                            </svg>
                                    .submenu
                                        each i in submenu
                                            a(href='/').submenu__link!=i


                main.books__main
                    h1.books__title
                        | 51 410 кругосветных миль
                        br
                        | на "Лермонтове"
                        +image('images/content/ship.jpg')
                    .books__sub.jsAddLetter По морям, по океанам на "Отрадном", "Шаляпине", "Лермонтове"
                    .books__views Количество просмотров: 20
                    .books__content
                        .content
                            h1 Заголовок H1
                            h2 Заголовок H2
                            h3 Заголовок H3
                            h4 Заголовок H4
                            h5 Заголовок H5
                            p
                                b 12 декабря 1977 года.
                                | &nbsp;Подгонный рейс... Рига. В 22.30 «Михаил Лермонтов» отшвартовался и пошел в Англию. В Саутгемптоне предстоит взять пассажиров и отправиться в первый круиз…
                            p Два дня назад я приехал утренним поездом из Москвы… Минус 5. Снега почти нет. Ветрено. Промозглая, как и положено зимой в Прибалтике, погода.
                            figure
                                blockquote “Там, в Сиднее, застали (слава Богу, успели вовремя) «Шаляпина»… Он только что вернулся из очередного круиза. И на него загружались новые пассажиры – туристы-австралийцы.”
                                figcaption Дмитрий Мещанинов
                            p До нее из Владивостока добирались на нашенском, внушительных размеров сухогрузе «Отрадное»… Сначала зашли в Иокогаму. Загрузили японские легковушки. И повезли их на Пятый континент.

                            p Там, в Сиднее, застали (слава Богу, успели вовремя) «Шаляпина»… Он только что вернулся из очередного круиза. И на него загружались новые пассажиры – туристы-австралийцы.

                            p
                                a(href='/') Это устройство на базе операционной системы Android 5.1 имеет сенсорный дисплей 5,5 Multi-touch, аккумулятор.
                            p Маркированный список:
                            ul
                                li устойчивостью к перепадам температур – выдерживает заморозки
                                    ul
                                        li высоким качеством  поверхности, однородностью;
                                        li устойчивостью к перепадам температур – выдерживает заморозки
                                        li устойчивостью к перепадам температур – выдерживает заморозки
                                li высоким качеством  поверхности, однородностью;
                                li устойчивостью к перепадам температур – выдерживает заморозки
                                li устойчивостью к перепадам температур – выдерживает заморозки
                            p Нумерованный список:
                            ol
                                li устойчивостью к перепадам температур – выдерживает заморозки
                                    ol
                                        li высоким качеством  поверхности, однородностью;
                                        li устойчивостью к перепадам температур – выдерживает заморозки
                                        li устойчивостью к перепадам температур – выдерживает заморозки
                                            ol
                                                li высоким качеством  поверхности, однородностью;
                                                li устойчивостью к перепадам температур – выдерживает заморозки
                                                li устойчивостью к перепадам температур – выдерживает заморозки
                                li высоким качеством  поверхности, однородностью;
                                li устойчивостью к перепадам температур – выдерживает заморозки
                                li устойчивостью к перепадам температур – выдерживает заморозки
                                li высоким качеством  поверхности, однородностью;
                                li устойчивостью к перепадам температур – выдерживает заморозки
                                li устойчивостью к перепадам температур – выдерживает заморозки
                    .books__nav
                        a(href='/').books__link.link.link_prev
                            <svg width="42" height="8" viewBox="0 0 42 8" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.646446 3.64645C0.451183 3.84171 0.451183 4.15829 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976314 4.7308 0.659732 4.53553 0.464469C4.34027 0.269207 4.02369 0.269207 3.82843 0.464469L0.646446 3.64645ZM42 3.5L1 3.5L1 4.5L42 4.5L42 3.5Z"/>
                            </svg>
                            span.link__txt
                                |Не брейтесь на Алеутах - убьет
                                br
                                |молнией, или В нашей великой...
                        a(href='/').books__link.link.link_next
                            span.link__txt В тени двух флагов
                            <svg width="42" height="8" viewBox="0 0 42 8" xmlns="http://www.w3.org/2000/svg">
                            <path d="M41.3536 4.35355C41.5488 4.15829 41.5488 3.84171 41.3536 3.64645L38.1716 0.464466C37.9763 0.269204 37.6597 0.269204 37.4645 0.464466C37.2692 0.659728 37.2692 0.976311 37.4645 1.17157L40.2929 4L37.4645 6.82843C37.2692 7.02369 37.2692 7.34027 37.4645 7.53553C37.6597 7.7308 37.9763 7.7308 38.1716 7.53553L41.3536 4.35355ZM0 4.5H41V3.5H0V4.5Z" />
                            </svg>
















