extends ../main

block variables
    - var title = 'Главная'

block content
    main.index
        //- slider
        section.index__slider
            .slider
                .swiper-container.slider__container
                    .swiper-wrapper
                        each i in [1,2,3]
                            a(href='/').swiper-slide.slider__slide
                                +image('images/content/slider/' + i + '.jpg')
                .slider__nav
                    .slider__nav-container
                        button(type='button').slider__arr.slider__prev
                            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5012 2.00241C16.1058 2.00241 2.00002 16.1047 2.00002 33.5036C2.00001 50.8991 16.1057 65.0048 33.5012 65.0048C50.8967 65.0048 65.0024 50.8991 65.0024 33.5036C65.0024 16.1047 50.8967 2.00241 33.5012 2.00241Z" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M38.413 21.6823L26.5413 33.5029L38.413 45.3235" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        button(type='button').slider__arr.slider__next
                            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.5012 65.0024C50.8967 65.0024 65.0024 50.9001 65.0024 33.5012C65.0024 16.1058 50.8967 2.00004 33.5012 2.00004C16.1057 2.00004 2 16.1058 2 33.5012C2 50.9001 16.1057 65.0024 33.5012 65.0024Z" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M28.5894 45.3225L40.4611 33.5019L28.5894 21.6813" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
        //- publications
        section.index__pubs
            .ipubs
                .container
                    .top.ipubs__top
                        h2.top__title Публикации
                        a(href='').top__link.link
                            | Перейти в раздел
                            <svg width="42" height="16" viewBox="0 0 42 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M41.7071 8.70711C42.0976 8.31658 42.0976 7.68342 41.7071 7.29289L35.3431 0.928932C34.9526 0.538408 34.3195 0.538408 33.9289 0.928932C33.5384 1.31946 33.5384 1.95262 33.9289 2.34315L39.5858 8L33.9289 13.6569C33.5384 14.0474 33.5384 14.6805 33.9289 15.0711C34.3195 15.4616 34.9526 15.4616 35.3431 15.0711L41.7071 8.70711ZM0 9H41V7H0V9Z"/>
                            </svg>
                    .ipubs__grid
                        each i in pubsList
                            .ipubs__item
                                +ipub(i)
        //- bio
        section.index__bio
            .ibio
                .container
                    .ibio__grid
                        .ibio__left
                            h2.ibio__title Автобиография
                            div(data-letter='А').ibio__txt Я, Мещанинов Дмитрий Сергеевич, родился 4 мая 1947 года в Москве, в Сокольниках. Здесь же меня крестили в красивом храме, что высится...
                            a(href='/').ibio__link.link
                                |Читать полную биографию
                                <svg width="42" height="16" viewBox="0 0 42 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M41.7071 8.70711C42.0976 8.31658 42.0976 7.68342 41.7071 7.29289L35.3431 0.928932C34.9526 0.538408 34.3195 0.538408 33.9289 0.928932C33.5384 1.31946 33.5384 1.95262 33.9289 2.34315L39.5858 8L33.9289 13.6569C33.5384 14.0474 33.5384 14.6805 33.9289 15.0711C34.3195 15.4616 34.9526 15.4616 35.3431 15.0711L41.7071 8.70711ZM0 9H41V7H0V9Z" />
                                </svg>

                        .ibio__right
                            +image('images/content/bio/img.png')
        //- news
        section.index__news
            .inews
                .container
                    .top.inews__top
                        h2.top__title Новости
                        a(href='').top__link.link
                            | Смотреть все
                    .inews__grid
                        each i in inewsList
                            .inews__item
                                +inew(i)




