.books{
  border-bottom: 1px solid #e0e0e0;

  &__grid{
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-gap: 70px;
    @include lg-block{
        grid-template-columns: 1fr;
    }
  }

  &__aside{
    @include lg-block{
      display: none;
    }
  }

  &__main{
    padding-top: 30px;
    padding-bottom: 120px;
    @include lg-block{
      padding-bottom: 70px;
    }
    @include sm-block{
      padding-bottom: 50px;
    }

  }

  &__title{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 60px;
    @include lg-block{
      font-size: 24px;
      padding-bottom: 25px;
      margin-bottom: 40px;
    }
    @include sm-block{
      font-size: 20px;
      padding-bottom: 15px;
      margin-bottom: 25px;
    }

    img{
      display: block;
      margin-top: 30px;
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 116px;
      height: 6px;
      background-color: $hover;
      @include sm-block{
        width: 98px;
        height: 4px;
      }
    }
  }

  &__sub{
    color: $headers;
    font-size: 28px;
    position: relative;
    line-height: 167%;
    margin-bottom: 50px;
    @include lg-block{
      font-size: 22px;
    }
    @include sm-block{
      font-size: 18px;
    }

    &:before{
      content: attr(data-letter);
      display: block;
      position: absolute;
      top: -60px;
      left: 0;
      font-weight: bold;
      font-size: 200px;
      line-height: 1;
      color: #323232;
      opacity: 0.06;
      @include lg-block{
        font-size: 180px;
        top: -40px;
      }
      @include sm-block{
        font-size: 160px;
        top: -30px;
      }

    }
  }

  &__views{
    color: #828282;
    font-size: 14px;
    margin-bottom: 40px;
    @include sm-block{
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    @include lg-block{
        grid-gap: 40px 20px;
    }
    @include sm-block{
        grid-template-columns: 1fr;
    }
  }

  &__content{
    margin-bottom: 110px;
  }

  &__nav{
    display: flex;
    justify-content: space-between;
    @include sm-block{
        flex-direction: column;
    }
  }

  &__link{
    font-size: 14px;

    &:last-child{
      @include sm-block{
        margin-top: 20px;
          align-self: flex-end;
      }
    }

  }
}

.chapters{

}

.chapter{
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  margin-left: 70px;
  line-height: 160%;

  @include sm-block{
    margin-left: 50px;
  }
  @include sm-block{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &:first-child{
    padding-top: 0;
  }
  &:last-child{
    border: none;
    padding-bottom: 0;
  }



  &__title{
    color: $headers;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
    line-height: 167%;
    @include sm-block{
      font-size: 14px;
      margin-bottom: 15px;
    }

    &:before{
      content: '';
      display: block;
      width: 35px;
      height: 2px;
      background-color: #e6ce6f;
      position: absolute;
      left: -70px;
      top: 13px;
      @include sm-block{
        left: -50px;
        top: 10px;
      }

    }
  }

  &__txt{
    margin-bottom: 25px;
  }

  &__link{
    @include lg-block{
      font-size: 20px;
    }
    @include sm-block{
      font-size: 14px;
    }
  }

}


@import "books/aside";