.footer {
  background: #f5f5f5 url("/images/content/footer/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  @include lg-block {
    background-image: none;
  }

  &__top {
    padding-top: 60px;
    padding-bottom: 100px;
    @include lg-block {
      padding-top: 40px;
      padding-bottom: 90px;
    }
    @include sm-block {
      padding-top: 25px;
      padding-bottom: 50px;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
      @include lg-block {
        margin-bottom: 40px;
      }
      @include sm-block {
        flex-direction: column;
        margin-bottom: 30px;
      }
    }

  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__email {
    @include sm-block {
      align-self: center;
    }
  }

  &__img {
    max-width: 69px;
    flex-shrink: 0;
    margin-right: 30px;
    @include sm-block {
      max-width: 56px;
      margin-right: 15px;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__name {
    svg {
      @include sm-block {
        width: 244px;
        height: 28px;
      }
    }
  }

  &__txt {
    color: $headers;
    @include ffg;
    font-style: italic;
  }

  &__email {
    margin-top: 20px;
  }

  &__left {
    @include col;
    @include size(6);
    @include shift-right(2);
    border-right: 1px solid #e0e0e0;
    padding: 5px 0;
    @include size-lg(8);
    @include shift-lg-right(0);
    @include lg-block {
      padding: 0;
    }
    @include size-sm(24);
    @include shift-sm-right(0);
    @include sm-block {
      border-right: none;
    }
  }

  &__right {
    @include col;
    @include size(16);
    padding: 5px 0;
    @include lg-block {
      padding: 0;
    }
    @include sm-block {
      display: none;
    }
  }

  &__nav {

    &-item {
      display: block;
      color: $headers;
      font-size: 18px;
      padding: 15px 0;
      @include tr;
      @include sm-block {
        text-align: center;
        padding: 13px 0;
      }

      &:hover {
        color: $hover;
      }
    }
  }

  &__cols {
    @include row-flex;
  }

  &__col {
    @include col;
    @include size(12);
  }

  &__item {
    display: block;
    padding: 15px 0;
    color: $headers;
    font-size: 18px;
    @include tr;
    @include lg-block {
      font-size: 14px;
    }

    &:hover {
      color: $hover;
    }
  }

  &__bottom {
    background-color: #393838;
    padding: 25px 0;
    @include lg-block {
      padding: 20px 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include sm-block {
        flex-direction: column;
      }
    }
  }

  &__copy {
    color: $bg;
    @include ffg;
    font-size: 18px;
    @include lg-block {
      font-size: 16px;
    }
    @include sm-block {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  &__vendor {
    display: flex;
    align-items: center;
    color: $bg;
    @include ffg;
    @include lg-block {
      font-size: 14px;
    }
    @include sm-block {
      flex-direction: column;
      font-size: 16px;
    }

    img {
      margin-left: 15px;
      @include sm-block{
        margin-left: 0;
        margin-top: 5px;
      }
    }

  }

}