.header {

  &__top{
    position: relative;

    .container{
      padding-top: 10px;
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @include lg-block{
        padding-top: 40px;
        padding-bottom: 20px;
        justify-content: center;
      }
    }
  }

  &__logo{
    @include lg-block{
      position: absolute;
      top: 15px;
      left: 20px;
      max-width: 56px;
    }
  }

  &__center{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__name{
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 23px;

    @include lg-block{
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    svg{
      @include lg-block{
        width: 310px;
        height: 36px;
      }
    }

    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -88px;

      width: 116px;
      height: 6px;
      background-color: $hover;
      @include lg-block{
        width: 88px;
        height: 5px;
        margin-left: -44px;
      }
    }
  }

  &__txt{
    color: $headers;
    font-family: Gilroy;
    font-size: 26px;
    font-style: italic;
    @include lg-block{
      font-size: 16px;
    }
  }

  &__email{
    @include lg-block{
      position: absolute;
      top: 40px;
      right: 20px;
    }
  }

  &__bottom{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }

}

.email{
  display: flex;
  align-items: center;
  color: $headers;
  font-size: 18px;
  @include tr;
  @include ffg;

  @include lg-block{
    font-size: 16px;
  }

  &:hover{
    color: $hover;
  }

  svg{
    margin-right: 15px;
  }
}

.nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include lg-block{
      justify-content: space-around;
  }

  &__link{
    padding: 15px 0;
    color: $headers;
    font-size: 18px;
    font-weight: 400;
    @include tr;
    @include lg-block{
      font-size: 16px;
    }

    &:hover{
      color: $hover;
    }
  }
}