.news {

  &__main {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 20px;
    margin-bottom: 70px;
  }

}

.nnav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__arr {
    stroke: $y;
    @include tr;
    &:hover{
      stroke: $link;
    }

    svg {
      display: block;
    }
  }

  &__prev{
    margin-right: 20px;
  }

  &__next{
    margin-left: 20px;
  }

  &__item {
    padding: 20px;
    color: #828282;
    @include ffg;
    font-size: 20px;
    font-weight: 700;
    &.active{
      color: $y;
    }
  }

}

.new {

  &__main{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }

  &__wrap{
    max-width: 680px;
    margin: 0 auto;
  }

  &__title{
    margin-bottom: 40px;
    position: relative;
    &:before{
      content: attr(data-letter);
      display: block;
      position: absolute;
      left: 0;
      top: -60px;

      opacity: 0.06;
      color: $headers;
      font-size: 200px;
      font-weight: 700;
      line-height: 1;
    }
  }

  &__date{
    color: #828282;
    @include ffg;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__content{
    margin-bottom: 90px;
  }

  &__grid{
    border-top: 1px solid #e0e0e0;
    padding-top: 80px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px 20px;
  }

  &__link{
    align-self: center;
  }

}