-
    var pubsList = [
        '51 410 кругосветных миль  <br>  на "Лермонтове"',
        'Русские на Эвересте  <br>  Хроника восхождения',
        'Груз 200  <br>  Афганский дневник',
        'Смутные рассказы',
        'Кругосветка <br> Автобиографическое плавание',
        'Критика'
    ];

-
    var inewsList = [
        {
            title: 'Опубликован очерк "Последний репортаж"',
            txt: '7 мая 1988 года... "В редакции "Известий" - траур. Мы провожаем в последний путь Александра Секретарева, фотокорреспондента газеты, погибшего 4 мая в Афганистане".Полностью читайте в разделе "Груз 200. Афганский дневник"....'
        },
        {
            title: 'Опубликован рассказ "Хорошо быть кисою, или Сортир как зеркало русской эволюции',
            txt: 'Осень 2016 года...  " - Дорогие ветераны! По просьбе властей нашего квартала, обсудим сегодня редко поднимаемую, но злободневную тему... В некоторых случаях человеку не поможет ни полиция, ни...'
        },
        {
            title: 'Литературно-общественный конкурс "Преодоление"',
            txt: 'Награжден дипломом Лауреата литературно-общественного конкурса "Преодоление" и медалью "А.И. Куприн (1870-1938)"'
        },
        {
            title: 'Опубликован рассказ "Кровососы-кровопийцы"',
            txt: 'Лето 2019 года... "О них лет двадцать назад никто в Москве-Подмосковье толком и не слышал. С Дального Востока, из Сибири, правда, поступали иногда отрывочные сведения об энцефалитных клещах.'
        }
    ];